.login{
    width:400px;
    background-color:rgb(231, 236, 236);
    text-align: center;
    align-items: center;
   border-radius: 8px;
   padding: 1rem;
   border: 1px solid black;
}

.login > input{
    border-radius: 5px;
    border: 2px, solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0.75rem;
    width:93%;
    font-size: 1.3rem;  
}
.login > .button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color:#fff;
    font-size:1.25rem;
    padding: 0.5rem;
    margin:0.5rem 0;
    border-radius:8px;
    outline:none;
    cursor: pointer;
}